<div class="row">
    <h1>Formación Académica <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Agregar Formación" routerLink="/nuevaedu" *ngIf="isLogged">
        <i class="bi bi-plus-square-fill"></i></button></h1>

    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion" class="d-flex">
                    <td class="col-6">
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td class="col-3">{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged" align="right" class="col-3">
                        <button class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Editar Formación" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Eliminar Formación" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>