.row{
    padding: 20px;
    color: #01303f;
    /* fallback for old browsers */
    background: #d4f0fc;
}
footer{
    color: #01303f;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #02577a;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(2, 87, 122, 1), rgba(137, 214, 251, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(2, 87, 122, 1), rgba(137, 214, 251, 1))
    }