.row{
    padding: 20px;
    color: #01303f;
    /* fallback for old browsers */
    background: #d4f0fc;
}
.top-buffer {
    margin-top:20px;
    padding: 20px;
}
div{
    background-color: #d4f0fc;
}
h1, h3{
    display: inline;
}
