
<div class="row">
    <h1>Proyectos Realizados <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Agregar Proyecto" routerLink="/nuevopro" *ngIf="isLogged">
        <i class="bi bi-plus-square-fill"></i></button></h1>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto" class="d-flex">
                    <td class="col-6">
                        <h2>{{Proyecto.nombreE}}</h2>
                    </td>
                    <td class="col-3">{{Proyecto.descripcionE}}</td>
                    <td *ngIf="isLogged" align="right" class="col-3">
                        <button class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Editar Proyecto" routerLink="/editpro/{{Proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Eliminar Proyecto" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>