.gradient-custom {
    color: #01303f;
    /* fallback for old browsers */
    background: #d4f0fc;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(212, 240, 252, 1), rgba(2, 169, 247, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(212, 240, 252, 1), rgba(2, 169, 247, 1))
    }