<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.jpg" class="img-fluid" id="profile"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p align="left">Amante de la computación, tanto hardware como software, despierta en mí un gran interés su funcionamiento interno. Actualmente estoy cursando el tramo final de la carrera de Analista en Sistemas en la cual descubrí la importancia del análisis de requisitos, diseño y modelado de sistemas, espero pronto poder ejercer el el rubro IT.
            <br>Me gusta rock, las actividades al aire libre y el deporte.</p>
        </span>
    </div>
</div>